PORT=3000
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/musicapi?retryWrites=true&w=majority
ADMIN_PIN=123456
ADMIN_SESSION_SECRET=super_secret_admin_session_key_change_me
MUSIC_PROVIDER=spotify
SPOTIFY_CLIENT_ID=votre_spotify_client_id
SPOTIFY_CLIENT_SECRET=votre_spotify_client_secret
ALLOWED_ORIGIN=*
